altgraph==0.17.4
freetype-py==2.4.0
hsluv==5.0.4
kiwisolver==1.4.5
numpy==1.26.1
opencv-python==4.8.1.78
packaging==23.2
pefile==2023.2.7
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
PyQt6==6.6.0
PyQt6-Qt6==6.6.0
PyQt6-sip==13.6.0
pywin32-ctypes==0.2.2
PyYAML==6.0.1
setuptools==68.2.2
vispy==0.14.1
